<ion-card>
  <ion-card-header>
        <ion-item>
          <ion-checkbox labelPlacement="end" justify="start">Termin</ion-checkbox>
          <ion-icon name="trash-outline" class="trash"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <div>
        <ion-icon name="time-outline" size="large"></ion-icon>
        <ion-text class="time">15.30</ion-text>
        <ion-text class="time">-</ion-text>
        <ion-text class="time">17.00</ion-text>  
    </div>
        <ion-text class="date">04.04.2024</ion-text>
  </ion-card-content>
</ion-card>